body {
  background-color: #e6ffff;
}
h2 {
  background-color: #b3e5fc;
  text-align: center;
}
h3 {
  background-color: #82b3c9;
  text-align: center;
}
#div {
  background-color: #b3e5fc;
  text-align: center;
}
h1 {
  background-color: #82b3c9;
  text-align: center;
}
.card {
  border: 5px solid #82b3c9;
  margin: 45px 355px 45px 355px;
  padding: 20px 50px 20px 50px;
  text-align: center;
}
.cardImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#option1 {
  background-color: skyblue;
  text-align: center;
  font-size: 25px;
  color: #00008c;
}
#bigDiv {
  text-align: center;
  background-image: url("https://www.columbia.edu/content/sites/default/files/styles/cu_crop/public/content/Morningside%20Campus%20at%20Dusk%202.jpg?itok=SkwvzD5S");
  opacity: 0.4;
  padding: 25px 75px 25px 75px;
}
#bigDiv:hover {
  opacity: 0.8;
}
.inputStyle {
  border: 2px double #00997a;
  background-color: white;
}
#submitDetails {
  color: #006652;
  background-color: #e6fffa;
  cursor: pointer;
  border: 2px double #00997a;
}
#submitDetails:hover {
  background-color: greenyellow;
  color: blueviolet;
  border-color: #009933;
}
button {
  color: #006652;
  background-color: #e6fffa;
  cursor: pointer;
  border: 2px double #00997a;
  border-radius: 7px;
}
button:hover {
  background-color: #ffe6ee;
  color: #ff6699;
  border-color: #ff3377;
}
.detailsCSS {
  background-color: white;
  display: inline;
}
